---
import BaseHead from '@components/BaseHead.astro'
import BlogHeader from '@components/BlogHeader.astro'
import BlogPostPreview from '@components/BlogPostPreview.astro'
import NewsletterForm from '@components/forms/NewsletterForm'
import spacetime from 'spacetime'

let title = 'Blog | Alex Streza'
let description =
  "Everything JavaScript, Typescript and Web Development. I sometimes tackle AI, Web3 and have a massive soft spot for 3D and CGI. I also think I'm funny at times too."
let permalink = 'https://www.blog.alexstreza.dev/'

let allPosts = await Astro.glob('./posts/*.md')
allPosts = allPosts
  .sort((a, b) => {
    const d1 = spacetime(a.frontmatter.publishDate)
    const d2 = spacetime(b.frontmatter.publishDate)
    return d1.isAfter(d2) ? -1 : 1
  })
  .map((post) => ({
    ...post,
    frontmatter: {
      ...post.frontmatter,
      publishDate: spacetime(post.frontmatter.publishDate).format(
        '{month-short} {date-ordinal}, {year}',
      ),
    },
  }))
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />

    <style>
      header {
        @apply w-full h-full grid place-content-center;
      }

      .content {
        @apply my-10;
      }

      .intro {
        @apply mb-20;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
      hr {
        @apply bg-gray-100 opacity-50;
      }
    </style>
  </head>

  <body data-barba='wrapper'>
    <BlogHeader />
    <main data-barba='container' data-barba-namespace='home'>
      <div class='content'>
        <section class='intro'>
          <h1 class='latest'>{title}</h1>
          <p>{description}</p>
          <NewsletterForm />
        </section>
        <section aria-label='Blog post list'>
          {allPosts.map((p, i) => (
            <>
              <BlogPostPreview post={p} />
              {i < allPosts.length - 1 && <hr />}
            </>
          ))}
        </section>
      </div>
    </main>

    <ul class='transition'>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <script is:inline src='https://unpkg.com/@barba/core'>

    </script>

    <script is:inline src='https://unpkg.com/@barba/prefetch'>

    </script>

    <script
      is:inline
      src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js'
    >

    </script>

    <script is:inline type='module'>
      import '../assets/scripts/transition.js'
    </script>
  </body>
</html>
