---
// Component Imports
import BaseHead from '@components/BaseHead.astro'
import BlogHeader from '@components/BlogHeader.astro'
import BlogPostPreview from '@components/BlogPostPreview.astro'
import KBar from '../components/kbar'
import { KBarPortal, KBarProvider } from 'kbar'
import spacetime from 'spacetime'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Blog | Alex Streza'
let description =
  "Everything JavaScript, Typescript and Web Development. I sometimes tackle AI, Web3 and have a massive soft spot for 3D and CGI. I also think I'm funny at times too."
let permalink = 'https://www.blog.alexstreza.dev/'

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md')
allPosts = allPosts
  .sort((a, b) => {
    const d1 = spacetime(a.frontmatter.publishDate)
    const d2 = spacetime(b.frontmatter.publishDate)
    return d1.isAfter(d2) ? -1 : 1
  })
  .map((post) => ({
    ...post,
    frontmatter: {
      ...post.frontmatter,
      publishDate: spacetime(post.frontmatter.publishDate).format(
        '{month-short} {date-ordinal}, {year}',
      ),
    },
  }))

const actions = [
  {
    id: 'blog',
    name: 'Blog',
    shortcut: ['b'],
    keywords: 'writing words',
    perform: () => (window.location.pathname = 'blog'),
  },
  {
    id: 'contact',
    name: 'Contact',
    shortcut: ['c'],
    keywords: 'email',
    perform: () => (window.location.pathname = 'contact'),
  },
]
---

<html lang='en'>
  <head>
    <BaseHead {title} {description} {permalink} />

    <style>
      header {
        @apply w-full h-full grid place-content-center;
      }

      .content {
        @apply my-10;
      }

      .intro {
        @apply mb-20;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
      hr {
        @apply bg-gray-100 opacity-50;
      }
    </style>
  </head>

  <body>
    <KBarProvider client:only actions={actions}>
      <KBar client:only />
    </KBarProvider>
    <BlogHeader />
    <div class='wrapper'>
      <main class='content'>
        <section class='intro'>
          <h1 class='latest'>{title}</h1>
          <p>{description}</p>
        </section>
        <section aria-label='Blog post list'>
          {allPosts.map((p, i) => (
            <>
              <BlogPostPreview post={p} />
              {i < allPosts.length - 1 && <hr />}
            </>
          ))}
        </section>
      </main>
    </div>
  </body>
</html>
