---
export interface Props {
  post: any
}

const { post } = Astro.props
---

<article class="post-preview">
  <header>
    <span>{post.frontmatter.publishDate}</span>
    <a href={post.url} class="unset !cursor-pointer">
      <h2 class="title">{post.frontmatter.title}</h2>
    </a>
  </header>
  <p>{post.frontmatter.description}</p>
  <a href={post.url} class="!pl-0">Read more</a>
</article>

<style>
  header {
    @apply flex flex-col gap-3;
  }
  h2 {
    @apply !font-serif !text-3xl !leading-[40px] -mb-4;
  }
  a {
    @apply p-2;
  }
  .unset {
    all: unset;
  }
</style>
