---
import BaseHead from '@components/BaseHead.astro'
import BlogHeader from '@components/BlogHeader.astro'
import BlogPost from '@components/BlogPost.astro'
import BlogPostPreview from '@components/BlogPostPreview.astro'
import NewsletterCard from '@components/cards/NewsletterCard'
import PageTransition from '@components/transition/PageTransition'
import PageLoader from '@components/transition/PageLoader'
import { getPosts } from '@utils/server'

const { content } = Astro.props
const {
  title,
  description,
  publishDate,
  author,
  heroImage,
  permalink,
  alt,
  readTime,
  likeCount,
  commentCount,
} = content

const allPosts = getPosts(await Astro.glob('../pages/posts/*.md')).slice(0, 3)
---

<html lang={content.lang || 'en'}>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
    />
    <BaseHead {title} {description} {permalink} />
  </head>

  <body data-barba="wrapper">
    <BlogHeader path="writer" />
    <main data-barba="container" data-barba-namespace="blog">
      <BlogPost
        {title}
        {author}
        {heroImage}
        {publishDate}
        {alt}
        {likeCount}
        {commentCount}
        {readTime}
      >
        <slot />
        <NewsletterCard />
        {allPosts.map((p, i) => (
          <div class="mt-10">
            <BlogPostPreview post={p} />
            {i < allPosts.length - 1 && <hr />}
          </div>
        ))}
      </BlogPost>
    </main>

    <PageTransition />

    <script is:inline src="https://unpkg.com/@barba/core">

    </script>

    <script is:inline src="https://unpkg.com/@barba/prefetch">

    </script>

    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    >

    </script>

    <script is:inline type="module">
      import '../assets/scripts/transition.js'
      import '../assets/scripts/theme.js'

      document.documentElement.classList.add('writer')
      document.documentElement.classList.remove('designer')
    </script>
  </body>
</html>
