---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import BlogPost from '@components/BlogPost.astro'
import BlogPostPreview from '@components/BlogPostPreview.astro'
import NewsletterCard from '@components/cards/NewsletterCard'
import PageTransition from '@components/transition/PageTransition'
import FloatingMenu from '@components/cards/FloatingMenu'
import { getPosts } from '@utils/server'

const { content } = Astro.props
const { title, description, pubDate, ogImage, readTime } = content

const allPosts = getPosts(await Astro.glob('../pages/posts/*.mdx')).slice(0, 3)
const permalink = `https://www.alexstreza.dev/posts/${title
  .replaceAll(' ', '-')
  .toLowerCase()}`
const randomStart = Math.floor(Math.random() * (allPosts.length - 3))
const randomEnd = randomStart + 3
---

<html lang={content.lang || 'en'}>
  <head>
    <BaseHead {title} {description} {ogImage} {permalink} alt={title} />
  </head>

  <body data-barba="wrapper">
    <PageTransition />
    <Header />
    <main
      class="h-screen relative"
      data-barba="container"
      data-barba-namespace="blog"
    >
      <BlogPost {pubDate} {readTime} alt={title}>
        <slot />
        <FloatingMenu
          text={`${title} by @alex_streza ${permalink}`}
          client:only="react"
        />
        <NewsletterCard />
        {
          allPosts.slice(randomStart, randomEnd).map((p, i) => (
            <div class="mt-10">
              <BlogPostPreview post={p} />
              {i < allPosts.length - 1 && <hr />}
            </div>
          ))
        }
      </BlogPost>
    </main>

    <script is:inline src="https://unpkg.com/@barba/core"></script>

    <script is:inline src="https://unpkg.com/@barba/prefetch"></script>

    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    ></script>

    <script is:inline type="module">
      import '../assets/scripts/theme.js'
      import '../assets/scripts/transition.js'
    </script>
  </body>
</html>
